:root{
  --azul-inss: #0072bc;
  --select-claro: #38a5ee;
  --option-hover: #aedfff;
  --fundo-option: #2fa4f1;
  --fundo-optgroup: #1682c0;
  --pressionado: #2e5a7a;
  --branco: #f8f8e9;
  --preto: #1a1a1a;
}


* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.map {
  height: 100vh;
  width: 100%;
}
.map:fullscreen {
        height: 100%;
      }

.map:-webkit-full-screen {
        height: 100%;
        margin: 0;
}


select {
  position: absolute;
  top: 0.8%;
  left: 50px;
  z-index: 9999;
  background-color: var(--azul-inss);
  padding: 5px;
  border-radius: 8px;
  color: var(--branco);
  font-family: Arial, Helvetica, sans-serif;

}

select,
::picker(select) {
  appearance: base-select;
  border: none;
}

select:hover{
  background-color: var(--select-claro);
 cursor: pointer;
}
select:active{
  background-color: var(--pressionado);
  color: var(--branco);
}

select::picker-icon {
  color: var(--branco);
  transition: 0.4s rotate;
}
select:open::picker-icon {
  rotate: 180deg;
}

option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  color: var(--branco);
  margin-top: 8px;
  background: var(--azul-inss);
  padding: 10px;
  transition: 0.4s;
  border-radius: 8px;
}

option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

option:not(option:last-of-type) {
  border-bottom: none;
}

option:nth-of-type(odd) {
  background: var(--fundo-option);
}

option:hover,
option:focus {
  background:  var(--option-hover);
  cursor: pointer;
  transition: transform 0.25s;
  transform: scale(1.05);
  color: var(--preto);
}

option:active {
  background-color: var(--pressionado);
  color: var(--branco);
}
optgroup{
  padding: 10px;
  background-color: var(--fundo-optgroup);
  color: var(--branco)  ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  border-radius: 8px;

}

input{
  position: absolute;
  top: 0.8%;
  right: 40px;
  z-index: 9999;
  padding: 5px;
  border-radius: 8px;
  border: none;
  background-color: var(--azul-inss);
  color: var(--branco);
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

input::placeholder {
  color: var(--branco);
  opacity: 0.7;
}

input:focus {
  outline: none;
  background-color: var(--select-claro);
}

#voltar{
  position: absolute;
  top: 0.8%;
  right: 250px;
  z-index: 9999;
  padding: 5px;
  border-radius: 8px;
  border: none;
  background-color: var(--azul-inss);
  color: var(--branco);
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  cursor: pointer;
}
#voltar:hover{
  background-color: var(--select-claro);
}

#voltar:active{
  background-color: var(--pressionado);
}