* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.map {
  height: 100vh;
  width: 100%;
}
.map:fullscreen {
        height: 100%;
      }

.map:-webkit-full-screen {
        height: 100%;
        margin: 0;
}



select {
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 1000;
  background-color: #0072bc;
  padding: 5px;
  border-radius: 8px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}

select,
::picker(select) {
  appearance: base-select;
  border: none;
}

select:hover,
select:focus {
 background-color: #38a5ee;
 cursor: pointer;
}
select::picker-icon {
  color: #ffffff;
  transition: 0.4s rotate;
}
select:open::picker-icon {
  rotate: 180deg;
}

option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  color: white;
  margin-top: 8px;
  background: #0072bc;
  padding: 10px;
  transition: 0.4s;
  border-radius: 8px;
}

option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

option:not(option:last-of-type) {
  border-bottom: none;
}

option:nth-of-type(odd) {
  background: #2fa4f1;
}

option:hover,
option:focus {
  background:  #aedfff;
  cursor: pointer;
  transition: transform 0.25s;
  transform: scale(1.05);
  color: black;
}
optgroup{
  padding: 10px;
  background-color: #1682c0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;

}
  

